[submodule "dataset/Himax_Dataset"]
	path = pulp-dronet-v1/dataset/Himax_Dataset
	url = https://github.com/pulp-platform/Himax_Dataset.git
[submodule "dataset/Udacity_Dataset"]
	path = pulp-dronet-v1/dataset/Udacity_Dataset
	url = https://github.com/pulp-platform/Udacity_Dataset.git
[submodule "dataset/Zurich_Bicycle_Dataset"]
	path = pulp-dronet-v1/dataset/Zurich_Bicycle_Dataset
	url = https://github.com/pulp-platform/Zurich_Bicycle_Dataset.git
[submodule "src/autotiler"]
	path = pulp-dronet-v1/src/autotiler
	url = https://github.com/pulp-platform/autotiler.git
[submodule "tiny-pulp-dronet-v3/nemo-dory/nemo"]
	path = tiny-pulp-dronet-v3/nemo-dory/nemo
	url = git@github.com:LorenzoLamberti94/nemo.git
[submodule "tiny-pulp-dronet-v3/nemo-dory/dory"]
	path = tiny-pulp-dronet-v3/nemo-dory/dory
	url = git@github.com:LorenzoLamberti94/dory_dronet.git
[submodule "dataset_collection_framework/crazyflie_firmware_patches/crazyflie-firmware-modified-dataset"]
	path = dataset_collection_framework/crazyflie_firmware_patches/crazyflie-firmware-modified-dataset
	url = git@github.com:LorenzoLamberti94/crazyflie-firmware-modified-dataset.git
